@model List<DataModelViewModel>
@{
}



<table class="table">
  <thead class="bg-danger">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data</th>
      <th scope="col">Hora</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>


    </tr>
  </thead>
  <tbody>
      @foreach (var agendamento in Model)
      {
        <tr>
            <th scope="row">@agendamento.Id</th>
            <td>@agendamento.Data</td>
            <td>@agendamento.Hora</td>
            <td>@agendamento.Pessoa.Nome</td>
            <td>@agendamento.Pessoa.telefone</td>
        </tr>
      }
   
  </tbody>

</table>

<a style="margin-top:20px" asp-controller="Home" asp-action="Index" type="button" class="btn btn-secondary btn-lg btn-block">Voltar</a> 

